<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <div class="main-title d-flex align-items-center">
      <button mat-icon-button (click)="togglesidebar()"><mat-icon>menu</mat-icon></button>
      <span>
        {{ currentUrl | titlecase }}
      </span>
    </div>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-3 d-flex align-items-center">
            <img class="user-image mr-1 p-2" mat-card-image [src]=" userData?.photoUrl !== '' ?  userData?.photoUrl : '../../assets/img/default-profile.jpg'">
            {{userData?.firstName}}
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                Profile
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
          </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>